<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" href="./static/imgs/fav-icon.svg" type="image/x-icon">
    <title>Mergefy</title>
</head>

<body>
    <div class="container">
        <div class="logo"><img src="./static/imgs/main-logo.svg" width="150px" alt=""></div>
        <div class="head">
            <p>Upload PDF to merge</p>
            <button class="upload">Upload</button>
            <input type="file" hidden>
        </div>
        <div class="cards-container">
        </div>
        <div class="submit">
            <button class="merge inactive">Merge</button>
            <button class="downlaod inactive">Download</button>
        </div>
        <div class="layout">
            <img src="./static/imgs/svgexport-7.svg" width="100px" alt="">
        </div>
    </div>

    <script src="./static/js/script.js"></script>
</body>

</html>